<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="description" content="{{author}}. {{title1}}"/>
    <meta name="keywords" content="{{keywords}}"/>
    <meta name="author" content="{{author}}"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="files/images/favicons/mstile-144x144.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53928225-1', 'auto');
      ga('send', 'pageview');
    </script>
    <link rel="apple-touch-icon" sizes="57x57" href="files/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="files/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="files/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="files/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="files/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="files/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="files/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="files/images/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="files/images/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="files/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="files/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="files/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="files/images/favicons/favicon-32x32.png" sizes="32x32">
    <link href="files/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <!--<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
    <!--<![endif]-->
    <link href="documents/styles/index.css" rel="stylesheet">
    <title>{{author}}. {{title1}}</title>
</head>
<body data-spy="scroll" data-target="#sideNavbar" id="top">

<!-- Container -->
<div class="container">
<!-- Static NavBar -->
<!--<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-resume" href="#">Download Resume</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right navbar-lang">
                <li class="active lang-icon"><img src="files/images/icons/gb.png" alt="EN"></li>
                <li class="active lang-icon"><img src="files/images/icons/de.png" alt="DE"></li>
                <li class="active"><img src="files/images/icons/ru.png" alt="RU"></li>
            </ul>
        </div>
    </div>
</div>-->
<!-- /Static NavBar -->

<div class="row">
    <a class="navbar-resume" href="files/G.Uvarov_CV.pdf" >PDF Version</a>
</div>
<!-- Title -->
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <h1 class="title-name">{{author}}</h1>
        </div>
        <div class="row">
            <p class="lead title-status">{{title1}}</p>
        </div>
    </div>
</div>
<!-- /Title -->

<!-- Main + SideBar -->
<div class="row">
<!-- SideBar -->
<div class="col-md-3">
    <div class="row">
        <div class="title-img">
            <img class="img-sidebar img-thumbnail" src="files/images/Uvarov2.png" alt="{{author}}">
        </div>
    </div>
    <div class="row" id="sideNavbar">
        <div class="bs-docs-sidebar hidden-print" id="resumeSections" role="complementary">
            <ul class="nav bs-docs-sidenav">
                <li>
                    <a href="#personal">{{messages.personalInformation}}</a>
                </li>
                <li>
                    <a href="#experience">{{messages.experience}}</a>
                </li>
                <li>
                    <a href="#employment">{{messages.employmentHistory}}</a>
                </li>
                <li>
                    <a href="#education">{{messages.education}}</a>
                </li>
                <li>
                    <a href="#languages">{{messages.knownLanguages}}</a>
                </li>
                <li>
                    <a href="#courses">{{messages.coursesNCertificates}}</a>
                </li>
                <li>
                    <a href="#skills">{{messages.techSkills}}</a>
                </li>
                <li>
                    <a href="#projects">{{messages.techProjects}}</a>
                </li>
                <li>
                    <a href="#trainings">{{messages.trainings}}</a>
                </li>
            </ul>
            <a href="#top" class="back-to-top">{{messages.backToTop}}</a>
        </div>
    </div>
</div>
<!-- /SideBar -->

<!-- Main -->
<div class="col-md-9">
<section class="block" id="personal">
    <h2 class="first">{{messages.personalInformation}}</h2>
    <table class="description">
        <tbody>
        <tr>
            <td>{{messages.address}} :</td>
            <td>{{personalInfo.address}}</td>
        </tr>
        <tr>
            <td>{{messages.phone}} :</td>
            <td>{{personalInfo.phone}}</td>
        </tr>
        <tr>
            <td>{{messages.email}} :</td>
            <td><a href="mailto:{{personalInfo.email}}">{{personalInfo.email}}</a></td>
        </tr>
        <tr>
            <td>{{messages.skype}} :</td>
            <td><a href="skype:{{personalInfo.skype}}">{{personalInfo.skype}}</a></td>
        </tr>
        <tr>
            <td>{{messages.birthday}} :</td>
            <td>{{personalInfo.birthday}}</td>
        </tr>
        <tr>
            <td>{{messages.marital}} :</td>
            <td>{{personalInfo.marital}}</td>
        </tr>
        <tr>
            <td>{{messages.social}} :</td>
            <td>
                <a href="http://www.linkedin.com/in/glebuvarov">
                    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png"
                         width="80" height="15" border="0" alt="View Gleb Uvarov's profile on LinkedIn">
                </a>
                <a href="http://www.xing.com/profile/Gleb_Uvarov" target="_blank" rel="me"><img
                        src="http://www.xing.com/img/buttons/14_en_btn.gif" width="80" height="15"
                        alt="Gleb Uvarov"></a>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<section class="block" id="experience">
    <h2>{{messages.experience}}</h2>
    <table class="description">
        <tbody>
        {{#experience}}
        <tr>
            <td>&bull;&nbsp;</td>
            <td>{{headline}}</td>
        </tr>
        {{/experience}}
        </tbody>
    </table>
</section>

<section class="block" id="employment">
    <h2>{{messages.employmentHistory}}</h2>
    {{#employments}}
    <table class="description">
        <tbody>
        <tr>
            <td>{{messages.date}} :</td>
            <td>{{date}}</td>
        </tr>
        <tr>
            <td>{{messages.company}} :</td>
            <td><a href="{{url}}">{{company}}</a></td>
        </tr>
        <tr>
            <td>{{messages.address}} :</td>
            <td>{{address}}</td>
        </tr>
        <tr>
            <td>{{messages.position}} :</td>
            <td>{{position}}</td>
        </tr>
        <tr>
            <td>{{messages.responsibilities}} :</td>
            <td>{{responsibilities}}</td>
        </tr>
        </tbody>
    </table>
    {{/employments}}
</section>

<section class="block" id="education">
    <h2>{{messages.education}}</h2>
    {{#educations}}
    <table class="description">
        <tbody>
        <tr>
            <td>{{messages.date}} :</td>
            <td>{{date}}</td>
        </tr>
        <tr>
            <td>{{messages.institution}} :</td>
            <td>{{institution}}</td>
        </tr>
        <tr>
            <td>{{messages.address}} :</td>
            <td>{{address}}</td>
        </tr>
        <tr>
            <td>{{messages.faculty}} :</td>
            <td>{{faculty}}</td>
        </tr>
        <tr>
            <td>{{messages.department}} :</td>
            <td>{{department}}</td>
        </tr>
        <tr>
            <td>{{messages.qualification}} :</td>
            <td>{{qualification}}</td>
        </tr>
        </tbody>
    </table>
    {{/educations}}
</section>

<section class="block" id="languages">
    <h2>{{messages.knownLanguages}}</h2>
    <table class="description">
        <tbody>
        {{#languages}}
        <tr>
            <td>{{language}} :</td>
            <td>{{experience}}</td>
        </tr>
        {{/languages}}
        </tbody>
    </table>
</section>

<section class="block" id="courses">
    <h2>{{messages.coursesNCertificates}}</h2>
    {{#certificates}}
    <table class="description">
        <tbody>
        <tr>
            <td>{{messages.title}} :</td>
            <td>{{title}}</td>
        </tr>
        <tr>
            <td>{{messages.awarded}} :</td>
            <td><a href="{{url}}">{{awarded}}</a></td>
        </tr>
        <tr>
            <td>{{messages.date}} :</td>
            <td>{{date}}</td>
        </tr>
        </tbody>
    </table>
    {{/certificates}}
</section>

<section class="block" id="skills">
    <h2>{{messages.techSkills}}</h2>
    <table class="description">
        <tbody>
        <tr style="font-weight: bold;">
            <td class="transparent"></td>
            <td>{{messages.technology}}</td>
            <td class="experience">{{messages.experienceYears}}</td>
            <td class="proficiency">{{messages.proficiency}}</td>
        </tr>
        </tbody>
    </table>

    <table class="description">
        <tbody>
        {{#prolanguages}}
        <tr>
            <td>{{#first}}{{messages.programming}} <br/>
                {{messages.languages}} :{{/first}}
            </td>
            <td>{{skill}}</td>
            <td class="experience">{{experience}}</td>
            <td class="proficiency">{{proficiency}}</td>
        </tr>
        {{/prolanguages}}
        </tbody>
    </table>
    <table class="description">
        <tbody>
        {{#technologies}}
        <tr>
            <td>{{#first}}{{messages.technologies}} :{{/first}}</td>
            <td>{{skill}}</td>
            <td class="experience">{{experience}}</td>
            <td class="proficiency">{{proficiency}}</td>
        </tr>
        {{/technologies}}
        </tbody>
    </table>
    <table class="description">
        <tbody>
        {{#os}}
        <tr>
            <td>{{#first}}{{messages.os}} :{{/first}}</td>
            <td>{{skill}}</td>
            <td class="experience">{{experience}}</td>
            <td class="proficiency">{{proficiency}}</td>
        </tr>
        {{/os}}
        </tbody>
    </table>
    <table class="description">
        <tbody>
        {{#rdbms}}
        <tr>
            <td>{{#first}}{{messages.rdbms}} :{{/first}}</td>
            <td>{{skill}}</td>
            <td class="experience">{{experience}}</td>
            <td class="proficiency">{{proficiency}}</td>
        </tr>
        {{/rdbms}}
        </tbody>
    </table>
    <table class="description">
        <tbody>
        {{#servers}}
        <tr>
            <td>{{#first}}{{messages.appServers}} :{{/first}}</td>
            <td>{{skill}}</td>
            <td class="experience">{{experience}}</td>
            <td class="proficiency">{{proficiency}}</td>
        </tr>
        {{/servers}}
        </tbody>
    </table>
    <table class="description">
        <tbody>
        {{#tools}}
        <tr>
            <td>{{#first}}{{messages.tools}} :{{/first}}</td>
            <td>{{skill}}</td>
            <td class="experience">{{experience}}</td>
            <td class="proficiency">{{proficiency}}</td>
        </tr>
        {{/tools}}
        </tbody>
    </table>
    <table class="description">
        <tbody>
        {{#ide}}
        <tr>
            <td>{{#first}}{{messages.ides}} :{{/first}}</td>
            <td>{{skill}}</td>
            <td class="experience">{{experience}}</td>
            <td class="proficiency">{{proficiency}}</td>
        </tr>
        {{/ide}}
        </tbody>
    </table>
</section>

<section class="block" id="projects">
    <h2>{{messages.techProjects}}</h2>
    {{#projects}}
    <table class="description">
        <tbody>
        <tr>
            <td>{{messages.projectName}} :</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>{{messages.projectDescription}} :</td>
            <td>{{description}}</td>
        </tr>
        <tr>
            <td>{{messages.position}} :</td>
            <td>{{position}}</td>
        </tr>
        <tr>
            <td>{{messages.responsibilities}} :</td>
            <td>{{responsibilities}}</td>
        </tr>
        <tr>
            <td>{{messages.technologies}} :</td>
            <td>{{technologies}}</td>
        </tr>
        <tr>
            <td>{{messages.os}} :</td>
            <td>{{os}}</td>
        </tr>
        <tr>
            <td>{{messages.projectDuration}} :</td>
            <td>{{duration}}</td>
        </tr>
        </tbody>
    </table>
    {{/projects}}
</section>

<section class="block" id="trainings">
    <h2>{{messages.trainings}}</h2>
    {{#personalTrainings}}
    <table class="description">
        <tbody>
        <tr>
            <td>{{messages.title}} :</td>
            <td>{{title}}</td>
        </tr>
        <tr>
            <td>{{messages.presentation}} :</td>
            <td>
                <a href="{{link}}">{{link}}</a>
            </td>
        </tr>
        <tr>
            <td>{{messages.presentedAt}} :</td>
            <td>{{company}}, {{url}}</td>
        </tr>
        <tr>
            <td>{{messages.date}} :</td>
            <td>{{date}}</td>
        </tr>
        </tbody>
    </table>
    {{/personalTrainings}}
</section>
</div>
<!-- /Main -->
</div>
<!-- /Main + SideBar -->
</div>
<!-- /Container -->

<div class="footer">
    <div class="container">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            {{=<% %>=}}
            <p class="text-muted" style="float: left">Powered by <a href="https://pages.github.com">GitHub Pages</a>, <a href="http://mustache.github.io">{{Mustache}}</a> and <a href="http://wkhtmltopdf.org">wkhtmltopdf</a></p>
            <%={{ }}=%>
            <p class="text-muted" style="float: right">&copy; {{years}} {{author}}</p>
        </div>
    </div>
   <div style="clear: both;"></div>
</div>

<!-- script references -->
<script src="files/vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="files/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="files/vendor/jquery/jquery.easing.min.js"></script>
<script src="documents/scripts/scrolling-nav.js"></script>
</body>
</html>