html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 20px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 10px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.title-name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: normal;
    width: 263px;
    padding-right: 15pt;
    text-align: right;
}

.title-status {
    width: 263px;
    font-size: 25px;
    color: #999;
    text-align: right;
    padding-right: 20pt;
}

.title-img {
    display: none;
}

/*.navbar-resume {
    float: left;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    background: url('../../files/images/icons/pdf.png') no-repeat;
    padding: 10px 15px 15px 40px;
    display: block;
    margin-top: 10px;
}*/


.navbar-lang {
    padding: 10px 15px 15px 15px;
    display: block;
    margin-top: 5px;
}

.lang-icon {
    padding-right: 8px;
}

.first {
    margin-top: 0;
}

.contacts {
    font-size: 14px;
    font-weight: 200;
    line-height: 2.0;
}

table.description {
    margin: 10pt auto;
    font-size: 12pt;
    color: #000000;
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

table.description td {
    text-align: left;
    padding: 2pt 15pt;
    color: #000000;
}

td.transparent {
    background-color: transparent;
}

td.experience {
    text-align: center;
    width: 20%
}

td.proficiency {
    text-align: center;
    width: 25%
}

table.description tr td:first-child {
    background-color: #f5f5f5;
    text-align: right;
    padding-right: 5pt;
    width: 25%;
    vertical-align: text-top;
}

.block {
    padding-bottom: 10pt;
    clear: both;
}

.bs-docs-sidebar {
    display: none;
}

.bs-docs-sidebar.affix {
    position: static;
}

.bs-docs-sidenav {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 25pt;
    width: 263px;
    text-align: right;
}

.bs-docs-sidebar .nav > li > a {
    color: #428bca;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 20px;
}

.bs-docs-sidebar .nav > li > a:hover, .bs-docs-sidebar .nav > li > a:focus {
    background-color: transparent;
    border-right: 1px solid #2a6496;
    color: #2a6496;;
    padding-right: 19px;
    text-decoration: none;
}

.bs-docs-sidebar .nav > .active > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active:focus > a {
    background-color: transparent;
    border-right: 2px solid #2a6496;
    color: #2a6496;;
    font-weight: 700;
    padding-right: 18px;
}

.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}

.bs-docs-sidebar .nav .nav > li > a {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-top: 1px;
}

.bs-docs-sidebar .nav .nav > li > a:hover, .bs-docs-sidebar .nav .nav > li > a:focus {
    padding-left: 29px;
}

.bs-docs-sidebar .nav .nav > .active > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
    padding-left: 28px;
}

.back-to-top {
    color: #428bca;
    display: none;
    font-size: 13px;
    font-weight: 500;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 40pt;
    width: 263px;
}

.back-to-top:hover {
    color: #2a6496;
    text-decoration: none;
}

@media (min-width: 768px) {
    .back-to-top {
        display: block;
    }
}

@media (min-width: 992px) {
    .bs-docs-sidebar {
        padding-left: 10pt;
        width: 263px;
        display: block;
    }

    .bs-docs-sidebar .nav > .active > ul {
        display: block;
    }

    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
        width: 263px;
    }

    .bs-docs-sidebar.affix {
        position: fixed;
        top: 20px;
    }

    .bs-docs-sidebar.affix-bottom {
        position: absolute;
    }

    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav, .bs-docs-sidebar.affix .bs-docs-sidenav {
        margin-bottom: 0;
        margin-top: 0;
    }

    .title-img {
        display: block;
        margin-left: 40pt;
        margin-right: auto;
        margin-bottom: 8pt;
    }

    .img-sidebar {
        width: 180px;
    }

    .navbar-resume {
        float:right;
        text-decoration:underline;
        font-size: 12pt;
        background: url('../../files/images/icons/pdf.png') no-repeat;
        padding: 10px 15px 15px 40px;
        white-space: nowrap;
        margin-top: 10px;
        margin-right: auto;
        display: block !important;
    }

    .img-badge-wrapper{
        margin-top: 15px;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .img-badge {
        float:left;
        width: 64px;
        height: 64px;
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .bs-docs-sidebar.affix-bottom, .bs-docs-sidebar.affix {
        width: 263px;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}

.navbar-resume {
    display: none;
}

.img-badge {
    display: none;
}
